In [121]:
import pandas as pd

Q4 / Q5

In [122]:
df = pd.read_csv('country_vaccination_stats.csv')
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [123]:
pd.isnull(df).head()

   country   date  daily_vaccinations  vaccines
0    False  False                True     False
1    False  False               False     False
2    False  False               False     False
3    False  False               False     False
4    False  False               False     False

In [126]:
#only selecting the rows with missing values
df[pd.isnull(df).any(axis=1)].head() #axis=1 is to specify columns
#from the result we are able to see that the missing info is only in the daily_vaccinations column

       country        date  daily_vaccinations                    vaccines
0    Argentina  12/29/2020                 NaN                   Sputnik V
28     Austria    1/5/2021                 NaN             Pfizer/BioNTech
48     Bahrain  12/23/2020                 NaN  Pfizer/BioNTech, Sinopharm
77     Belgium  12/28/2020                 NaN             Pfizer/BioNTech
103     Brazil   1/16/2021                 NaN                     Sinovac

In [128]:
df.groupby('country')['daily_vaccinations'].min().head()

country
Argentina    6483.0
Austria      3368.0
Bahrain       943.0
Belgium         1.0
Brazil        112.0
Name: daily_vaccinations, dtype: float64

In [129]:
countries = df['country'].unique()
countries

array(['Argentina', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Ecuador', 'England', 'Estonia', 'Finland',
       'France', 'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Ireland', 'Isle of Man', 'Israel', 'Italy',
       'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico',
       'Netherlands', 'Northern Ireland', 'Norway', 'Oman', 'Panama',
       'Poland', 'Portugal', 'Romania', 'Russia', 'Saudi Arabia',
       'Scotland', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Arab Emirates', 'United Kingdom', 'United States', 'Wales'],
      dtype=object)

In [130]:
for country in countries:
    min = df[df['country']==country]['daily_vaccinations'].min()
    if pd.notna(min)==False:
        values = {'daily_vaccinations': 0}
    else:
        values = {'daily_vaccinations': min}
    df[df['country'] == country] = df[df['country'] == country].fillna(value=values)

In [131]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [133]:
df.isnull().any() #there are no more null values

country               False
date                  False
daily_vaccinations    False
vaccines              False
dtype: bool

Q6

In [140]:
median = df.groupby('country')['daily_vaccinations'].median()
median.sort_values(ascending=False).head()

country
United States     378253.0
China             276786.0
India             173922.0
Turkey            150356.0
United Kingdom    120409.0
Name: daily_vaccinations, dtype: float64

In [147]:
first3median = median.sort_values(ascending=False).head(3)
first3median

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

Q7

In [149]:
df[df['date']=="1/6/2021"]['daily_vaccinations'].head()

8      8173.0
29     3368.0
62     1594.0
86      736.0
121     472.0
Name: daily_vaccinations, dtype: float64

In [151]:
total_vac = df[df['date']=="1/6/2021"]['daily_vaccinations'].sum()
total_vac

1485255.0

Q8

SELECT daily_vaccination,
COALESCE(daily_vaccination, PERCENTILE_CONT(0.5) 
WITHIN GROUP (ORDER BY daily_vaccination) OVER(PARTITION BY country) as median)
FROM table